/* Fuente "roboto" */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* --- --- --- --- Estilos generales --- --- --- --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Code Pro", "sans serif";
  font-size: 35px;
  background-color: var(--primary-color);
}

/* --- --- --- --- Estilos del Main --- --- --- --- */
h1 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 100px;
}

main {
  display: flex;
  flex-direction: column;
}

/* --- --- --- --- Estilos de la tabla --- --- --- --- */
table {
  display: flex;
  align-self: center;
  border-spacing: 0;
  border: solid 4px rgb(65, 144, 223);
  border-radius: 10px;
}

th {
  background-color: rgba(65, 144, 223, 0.4);
  padding: 12px;
  border: solid 1px rgb(65, 144, 223);
}

th,
td {
  border: solid 1px rgb(65, 144, 223);
}


.altura {
  height: 100px;
  text-align: center; /* Centra horizontalmente */
  vertical-align: middle; /* Centra verticalmente */
}

/* --- --- --- --- Estilos de del selector --- --- --- --- */
#selectProducts,  #cantidad {
  background-color: rgb(65, 144, 223);
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  transition: .3s;
}

#selectProducts:hover,  #cantidad:active {
 transform: scale(0.9);
 background-color: red;
}

#cantidad::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 19px;
  font-style: italic;
}