@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: none;
  outline: none; */
}

:root {
  --primary-color: #4190df;
  --secundary-color: rgba(65, 144, 223, 0.4);
}

body {
  font-family: "Source Code Pro", sans-serif;
  font-weight: 900;
}

/* --- --- --- --- Estilos generales de la tabla --- --- --- --- */
table {
  border-collapse: collapse;
}

.table-container {
  border: solid 5px var(--primary-color);
  border-radius: 10px;
}
 

/* --- --- --- --- Estilos del container --- --- --- --- */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  font-size: 2rem;
  font-size: 40px;
}

.container h1 {
  margin-bottom: 30px;
  font-size: 60px;
}

/* --- --- --- --- Estilos de los th y td --- --- --- --- */
th,
td {
  border: 3px solid var(--primary-color);
  border-collapse: collapse;
}

th {
  background-color: var(--secundary-color);
  padding: 10px 10px;
}

/* td input */
.td-input input {
  background-color: rgb(65, 144, 223);
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.td-input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

/* td productos */
.td-productos select {
  background-color: rgb(65, 144, 223);
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.td-productos select:hover, .td-input input:hover{
  box-shadow: 0 0 20px rgba(65, 144, 223, 0.9);
  scale: .99;
}
